img {
  display: inline-block;
  /* width: 100%; */
}

img.lightbox {
  cursor: pointer;
}

img.shadow {
  filter: drop-shadow(2px 2px 3px var(--shadow));
}

img.cover {
  object-fit: cover;
}

img.contain {
  object-fit: contain
}