img {
  display: inline-block;
  /* width: 100%; */
  transition: .2s ease-out;
}

img.lightbox {
  cursor: pointer;
}

img.shadow {
  filter: drop-shadow(2px 2px 3px var(--shadow));
}

img.cover {
  object-fit: cover;
}

img.contain {
  object-fit: contain
}

/* ====================================== **
|| HOVER
** ====================================== */
@media (hover:hover) {
  img.lightbox:not(.modal img):hover {
    transform: scale(1.01);
    transition-delay: 1s;
  }
}