@font-face {
  font-family: Bernard-MT-Condensed;
  src: url(/src/assets/fonts/BERNHC.TTF);
}

@font-face {
  font-family: Minion-VC;
  src: url(/src/assets/fonts/MinionVariableConcept-Roman.otf);
}

:root {
  --grid: 32px;
  /* ---------- COLORS ---------- */
  --blue: #2e2e47;
  --gold: #ff9f7d;
  --purple: #896883;
  --purple2: hsl(311, 35%, 50%);
  /* ---------------------------- */
  --lite: white;
  --brite: var(--gold);
  --pop: var(--gold);
  --pop-alt: var(--purple2);
  --mid: var(--gold);
  --dark: var(--blue);
  --darker: black;
  --shadow: rgba(0, 0, 0, 0.1);
  --faint: rgba(0, 0, 0, 0.05);
  /* ---------- FONTS ---------- */
  --keyFont: Minion-VC;
  --numFont: Bernard-MT-Condensed;
  --bodyFont: Calibri;
  font-size: 18px;
  /* ---------- BORDERS ---------- */ 
  --outside: 10px;
  --inside: 5px;
  /* ---------- GRAPHICS ---------- */
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--dark);
  /* background-color: var(--blue);
  color: var(--lite); */
}

#siteWrapper {
  min-height: 100vh;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

.flex main {
  flex-grow: 1;
}

.App {
  text-align: center;
}

::-webkit-scrollbar {
  display: none;
}

::selection {
  background-color: var(--shadow);
}

/* ====== LINKS ====== */

a, a:visited, a:focus {
  color: inherit;
}

a, a:visited {
  text-decoration: none;
}

a:focus, a:hover {
  outline: none;
}

/* ====== HEADINGS ====== */

h1, h2 {
  color: var(--pop);
  font-family: var(--keyFont);
  font-variant: small-caps;
  font-weight: normal;
  text-shadow: 1px 1px 3px var(--faint);
}

h1 {font-size: 42px}

/* ====== FLEX ====== */

.flex {
  display: flex;
}

.flex.col {
  flex-direction: column;
}

.flex.col.reverse {
  flex-direction: column-reverse;
}

.flex.reverse:not(.col){
  flex-direction: row-reverse;
}

.flex.start {
  justify-content: flex-start;
}

.flex.middle {
  justify-content: center;
}

.flex.end {
  justify-content: flex-end;
}

.flex.inside {
  align-items: center;
}

.flex.center {
  align-content: center;
  justify-content: center;
}

.flex.wrap {
  flex-wrap: wrap;
}

/* ====== THEMES ====== */

.theme, .theme > * {position: relative;}

.theme::before {
  content: "";
  position: absolute;
  inset: 0;
}

/* ----< CHECKER >---- */

.theme.checker-bg {
  --shading: #808080;
  background-image: linear-gradient(
    to right, 
    var(--shading), 
    white, 
    var(--shading)
  );
  background-color: var(--dark);
  background-blend-mode: multiply;
  color: var(--lite);
}

.theme.checker-bg::before {
  background-image:
    url(/src/assets/images/checker-pattern-SIMPLE.jpg),
    linear-gradient(to right, black, white, black);
  opacity: .15;
  mix-blend-mode: multiply;
  background-blend-mode: multiply;
}

.theme.checker-bg > * {
  position: relative;
}

/* ----< GLASS >---- */

.theme.glass-bg {
  background-image: radial-gradient(circle, white, black);
  /* background-image: linear-gradient(to bottom, white, black); */
  background-color: var(--dark);
  background-blend-mode: multiply;
  background-position: 50% 10%;
}

.theme.glass-bg > * {
  position: relative;
}

.theme.glass-bg::before {
  background-image: url(/src/assets/images/Card-Base-Texture.jpg), linear-gradient(to bottom, silver, black);
  background-size: 500px;
  background-blend-mode: multiply;
  mix-blend-mode: overlay;
  opacity: .5;
}

/* ----------------------------------------- **
** ================\ HOVER /================ **
** ----------------------------------------- */
@media (hover:hover){

}