:root {
  /* ---------- COLORS ---------- */
  --blue: #2e2e47;
  --gold: #ff9f7d;
  --purple: #896883;
  /* ---------------------------- */
  --lite: white;
  --brite: var(--gold);
  --pop: var(--gold);
  --pop-alt: var(--purple);
  --mid: var(--gold);
  --dark: var(--blue);
  --darker: black;
  --shadow: rgba(0, 0, 0, 0.1);
  --faint: rgba(0, 0, 0, 0.05);
  /* ---------- FONTS ---------- */
  font-size: 18px;
  /* ---------- BORDERS ---------- */ 
}

.App {
  text-align: center;
}
